body {}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
margin: 5px;
text-align: left;
border-collapse: collapse;
}

table th {
font-size: 13px;
font-weight: normal;
padding: 8px;
background: #b9c9fe;
border-top: 4px solid #aabcfe;
border-bottom: 1px solid #fff;
color: #039;
}

table td {
padding: 8px;
background: #e8edff;
border-bottom: 1px solid #fff;
color: #669;
border-top: 1px solid transparent;
}

table.list tr:hover td {
background: #d0dafd;
color: #339;
}

#paginator a, img {
	text-decoration: none;
	border: 0px;
}

.enabled {
  background-color: #C8FF90;
  font-weight: bold;
}

.disabled {
  background-color: #FFA27A;
  font-weight: bold;
}

#card_capture span { display: none }


.activity.door { width: 20px }

.dialog{ 
  display: none;
  text-align: center
}


#door_dialog img{
  padding: 20px;
}
